@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@500;600;700&display=swap");

@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "foundry";
    default: true;
    prefersdark: false;
    color-scheme: light;

    /* === Base === */
    --color-base-100: #f5f5f5;
    --color-base-200: #f0f0f0;
    --color-base-content: #111827;

    /* === Brand === */
    --color-primary: #1f2959;
    --color-primary-focus: #2c3a74;
    --color-primary-content: #f5f5f5;

    --color-secondary: #4c63d9;
    --color-secondary-focus: #8a93c2;
    --color-secondary-content: #f5f5f5;

    --color-accent: #344495;
    --color-accent-focus: #4057b5;
    --color-accent-content: #f5f5f5;

    /* === Neutral === */
    --color-neutral: #b1b9c7;
    --color-neutral-content: #f5f5f5;

    /* === Feedback === */
    --color-info: #5DD1FF;
    --color-info-content: #111827;
    --color-success: #15D458;
    --color-success-content: #111827;
    --color-warning: #f59e0b;
    --color-warning-content: #111827;
    --color-error: #FF2B2B;
    --color-error-content: #111827;

    /* === Fonts === */
    --font-heading: "Poppins", sans-serif;
    --font-body: "Inter", sans-serif;

    /* === Typography === */
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
    --fs-label: 0.875rem;

    --lh-h1: 1.2;
    --lh-h2: 1.25;
    --lh-h3: 1.3;
    --lh-body: 1.5;
    --lh-label: 1.4;

    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-medium: 500;
    --fw-regular: 400;

    /* === Radius === */
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;

    /* === Base Sizes === */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* === Border === */
    --border: 1px;

    /* === Effects === */
    --depth: 1;
    --noise: 0;
}
