# CONFIGURACAO GLOBAL PADRAO
spring:
  application:
    name: teamfoundry
  profiles:
    active: docker
  jpa:
    properties:
      hibernate:
        format_sql: true
  main:
    allow-bean-definition-overriding: true

server:
  port: 8443
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: changeit
    key-store-type: PKCS12
    key-password: changeit
    key-alias: teamfoundry-local

---

# PERFIL DE TESTES (H2 - memoria)
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  sql:
    init:
      mode: never

---

# PERFIL DE DESENVOLVIMENTO (DOCKER - PostgreSQL local)
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://localhost:5432/teamfoundry_db
    username: teamfoundry_user
    password: teamfoundry_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never

---

# PERFIL DE PRODUCAO
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://<HOST_DO_PROFESSOR>:5432/<NOME_DA_BASE>
    username: <USERNAME>
    password: <PASSWORD>
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never
