# CONFIGURAÇÃO GLOBAL PADRÃO
jwt:
  secret: ${JWT_SECRET:change-me-256-bit-secret-string-change-me}
  expiration-seconds: 3600

app:
  mail:
    from: ${APP_MAIL_FROM:duscrias5@gmail.com}
spring:
  application:
    name: teamfoundry
  profiles:
    active: docker  # perfil ativo por padrão
  jpa:
    properties:
      hibernate:
        format_sql: true
  main:
    allow-bean-definition-overriding: true
  mail:
    host: ${SPRING_MAIL_HOST:smtp-relay.brevo.com}
    port: ${SPRING_MAIL_PORT:587}
    username: ${SPRING_MAIL_USERNAME:9b1ad8001@smtp-brevo.com}
    password: ${SPRING_MAIL_PASSWORD:xsmtpsib-d7b4835ca148eae123c6e0a27c30f1c00cbc2980fbc1dd17b454eb3d02cc977b-yPYP94A462Ez70rC}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8443
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: changeit
    key-store-type: PKCS12
    key-password: changeit
    key-alias: teamfoundry-local

---

#  PERFIL DE TESTES (H2 - memória)
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  sql:
    init:
      mode: never

---

# PERFIL DE DESENVOLVIMENTO (DOCKER - PostgreSQL local)
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://localhost:5432/teamfoundry_db
    username: teamfoundry_user
    password: teamfoundry_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never

---

# PERFIL DE PRODUÇÃO
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://<HOST_DO_PROFESSOR>:5432/<NOME_DA_BASE>
    username: <USERNAME>
    password: <PASSWORD>
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never
server:
  port: 8080

# JWT configuration
jwt:
  secret: ${JWT_SECRET:change-me-32-bytes-minimum-change-me-change-me}
  expiration-seconds: 3600
